[submodule "lzu_oslab"]
	path = lzu_oslab
	url = git@github.com:RvOSLab/lzu_oslab.git
[submodule "ucoreonrv"]
	path = ucoreonrv
	url = git@github.com:nkgongxl/ucoreonrv.git
[submodule "testsuits-for-oskernel"]
	path = testsuits-for-oskernel
	url = git@github.com:oscomp/testsuits-for-oskernel.git
